@import '../abstract/variaveis';

#fim {
    text-align: center;
    margin-top: 1rem;
    padding: 1.2rem;
    .conclusao {
    h3 {
        font-size: $tamanho-do-texto / 2.5;
        font-weight: bold;
        color: $cor-primaria;
    }
    h4 {
        font-size: $tamanho-do-texto / 3;
        margin: 0.5rem;
        color: $cor-terciaria;
    }
    p {
        margin: 0.3rem;
    }
    }
}